<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServerUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ServerUpdater.Properties.Settings.wowahtConnectionString"
            connectionString="server=cj-w7-pc.reshall.rose-hulman.edu;user id=wowAHTAdmin;password=12345;database=wowaht"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ServerUpdater.Properties.Settings>
            <setting name="snapshotFolder" serializeAs="String">
                <value>snapshots</value>
            </setting>
        </ServerUpdater.Properties.Settings>
    </userSettings>
</configuration>